<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulang.security.admin.dao.MenuRoleDao">
    <insert id="insertRoleAuths">
        INSERT INTO sys_menu_role (role_id,menu_id) VALUES
        <foreach collection="authIds" item="authId" separator=",">
            (#{roleId},#{authId})
        </foreach>
    </insert>
</mapper>